page-general {
    .first{
        background-image: url(../../assets/imgs/u.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .g1{
        background-color: rgba(20, 20, 20, 0);
    }
    .sec{
        color: white;
    }
}
