page-food {
   .backf{
    background-image:linear-gradient(rgba(0, 0, 0, 0.048),rgba(0,0,0,0.5)), url(../../assets/imgs/f1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   } 
}
